<?xml version="1.0" encoding="UTF-8"?>
<division>
  <number><%= @division["number"] %></number>
  <date><%= @division["date"] %></date>
  <file><%= @division["file"] %></file>
  <page><%= @division["page"] %></page>
  <archive_link><%= @archive_link %></archive_link>
  <resolution><%= @division["resolution"] %></resolution>
  <ayes><% @division["ayes"].each do |member| %>
    <member>
      <parly_title><%= member["parliamentary_title"]%></parly_title>
      <title><%= member["title"]%></title>
      <forename><%= member["forename"].gsub("???", "<illegible_text />")%></forename>
      <surname><%= member["surname"].gsub("???", "<illegible_text />")%></surname>
    </member><%end%>
  </ayes>
  <ayes_tellers><%= @division["ayes_tellers"] %></ayes_tellers>
  <noes><% @division["noes"].each do |member|%>
    <member>
      <parly_title><%= member["parliamentary_title"]%></parly_title>
      <title><%= member["title"]%></title>
      <forename><%= member["forename"].gsub("???", "<illegible_text />")%></forename>
      <surname><%= member["surname"].gsub("???", "<illegible_text />")%></surname>
    </member><%end%>
  </noes>
  <noes_tellers><%= @division["noes_tellers"] %></noes_tellers>
</division>